html {
  font-size: 62.5%;
}
body,
html {
  height: 100vh;
  width: 100%;
  margin: 0rem;
  font-family: "Nunito Sans", sans-serif;
}
* {
  margin: 0rem;
}

#root {
  height: 100vh;
}
.mutualFund {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@import "./Components/Components";
@import "./Pages/Pages";
